asgiref
captcha
certifi
cffi
charset-normalizer
colorama
cryptography
Django
django-allauth
django-allauth-2fa
django-otp
django-recaptcha
fido2
gunicorn
idna
jwt
pillow
pycparser
qrcode
requests
setuptools
sqlparse
tzdata
urllib3
whitenoise